<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>This is an app created by Rafael Cabanillas. <br>It's getting data from MapBox.com and WeatherStack.com</p>

            <img class="portrait" src="/img/rafa.png" alt="rafa">
        </div>

        {{>footer}}
    </body>
</html>